{% extends 'base.html.twig' %}

{% block title %}Edit LeaseParty{% endblock %}

{% block body %}
    <h1>Edit LeaseParty</h1>

    {{ include('lease_party/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lease_party_index') }}">back to list</a>

    {{ include('lease_party/_delete_form.html.twig') }}
{% endblock %}
