{% extends 'base.html.twig' %}

{% block title %}New PropertyImage{% endblock %}

{% block body %}
    <h1>Create new PropertyImage</h1>

    {{ include('property_image/_form.html.twig') }}

    <a href="{{ path('app_property_image_index') }}">back to list</a>
{% endblock %}
