body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #264653;
    color: black;
}

footer {
    margin-top: auto;
    color: #2A9D8F;
}

h1 {
    color: none;
}

h2 {
    color: none;
}

h3 {
    color: none;
}

p {
    color: none;
}


/* =========================================================LOGIN=====================================================*/
.brandName {
    color: #E9C46A;
    font-weight: bold;
}

.remember-me-label {
    color: #ffffff;
}

.forgotPassword{
    color: #ffffff;
}

.btn-login:hover {
    background-color: #E76F51;
    border-color: #E76F51;
    color: #ffffff;
}

.btn-login {
    background-color: #2A9D8F;
    border-color: #2A9D8F;
    color: #ffffff; 
}

.registerLink {
    color: #ffffff;
}

.signup {
    text-decoration: underline;
    color: #E9C46A;
    font-weight: bold;
}

.signup:hover {
    text-decoration: none;
    color: #E76F51;
    font-weight: bold;
}

/* =========================================================REGISTER=====================================================*/