{% extends 'base.html.twig' %}

{% block title %}New IdentityLeaseParty{% endblock %}

{% block body %}
    <h1>Create new IdentityLeaseParty</h1>

    {{ include('Identity_leaseParty/_form.html.twig') }}

    <a href="{{ path('app_Identity_leaseParty_index') }}">back to list</a>
{% endblock %}
