{% extends 'base.html.twig' %}

{% block title %}Edit IdentityDocument{% endblock %}

{% block body %}
    <h1>Edit IdentityDocument</h1>

    {{ include('identity_document/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_identity_document_index') }}">back to list</a>

    {{ include('identity_document/_delete_form.html.twig') }}
{% endblock %}
